<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.honeyapple.interest.mapper.InterestMapper">
 	<!-- select) 관심Count -->
 	<select id="selectInterestCountByPostIdUserId" resultType="int">
 	SELECT
 		count(*)
 	FROM
 		`interest`
 	WHERE
 		`postId` = #{postId}
 		<if test="userId != null">
 		AND `userId` = #{userId}
 		</if>
 	</select>
 	<!-- select) buyerId로 관심List(생성날짜로 DESC) -->
 	<select id="selectInterestListByBuyerIdOrderByCreatedAtDesc" resultType="com.honeyapple.interest.domain.Interest">
 	SELECT
 		`postId`
 		,`userId`
 		,`createdAt`
 	FROM
 		`interest`
 	WHERE
 		`userId` = #{userId}
 	ORDER BY `createdAt` DESC
 	</select>
 	
 	<insert id="insertInterest">
 	INSERT INTO `interest`
 	(
 		`postId`
		,`userId`
		,`createdAt`
 	)
 	VALUES
 	(
 		#{postId}
 		, #{userId}
 		, NOW()
 	)
 	</insert>
 	
 	<delete id="deleteInterest">
 	DELETE FROM
 		`interest`
 	WHERE
 		`postId` = #{postId}
 		AND `userId` = #{userId}
 	</delete>
 </mapper>