<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.honeyapple.post.mapper.PostMapper">
 	<insert id="insertPost" parameterType="com.honeyapple.post.domain.Post"
 	useGeneratedKeys="true" keyProperty="id">
 	INSERT INTO `post`
 	(
		`sellerId`
		,`subject`
		,`price`
		,`negotiable`
		,`content`
		,`imgPath1`
		,`imgPath2`
		,`imgPath3`
		,`imgPath4`
		,`imgPath5`
		,`status`
		,`createdAt`
		,`updatedAt`
 	)
 	VALUES
 	(
 		#{sellerId}
 		, #{subject}
 		, #{price}
 		, #{negotiable}
 		, #{content}
 		, #{imgPath1}
 		, #{imgPath2}
 		, #{imgPath3}
 		, #{imgPath4}
 		, #{imgPath5}
 		, '판매중'
 		, NOW()
 		, NOW()
 	)
 	</insert>
 	
 	<select id="selectPostById" resultType="com.honeyapple.post.domain.Post">
 	SELECT
 		`id`
		,`sellerId`
		,`subject`
		,`price`
		,`negotiable`
		,`content`
		,`imgPath1`
		,`imgPath2`
		,`imgPath3`
		,`imgPath4`
		,`imgPath5`
		,`status`
		,`createdAt`
		,`updatedAt`
 	FROM
 		`post`
 	WHERE `id` = #{postId}
 	</select>
 	
 	<select id="selectPostListByStatusOrderByIdDescLimit6" resultType="com.honeyapple.post.domain.Post">
 	SELECT
 		`id`
		,`sellerId`
		,`subject`
		,`price`
		,`negotiable`
		,`content`
		,`imgPath1`
		,`imgPath2`
		,`imgPath3`
		,`imgPath4`
		,`imgPath5`
		,`status`
		,`createdAt`
		,`updatedAt`
	FROM
		`post`
	WHERE
		`status` = '판매중'
	ORDER BY `id` DESC
	LIMIT 6
 	</select>
 	
 	<!-- sellerId + status + id내림차순 select -->
 	<select id="selectPostListBySellerIdStatusOrderByIdDesc" resultType="com.honeyapple.post.domain.Post">
 	SELECT
 		`id`
		,`sellerId`
		,`subject`
		,`price`
		,`negotiable`
		,`content`
		,`imgPath1`
		,`imgPath2`
		,`imgPath3`
		,`imgPath4`
		,`imgPath5`
		,`status`
		,`createdAt`
		,`updatedAt`
	FROM
		`post`
	WHERE
		`sellerId` = #{sellerId}
		<if test="status != null">
		AND `status` = #{status}
		</if>
		<if test="exceptStatus != null">
		AND `status` != #{exceptStatus}
		</if>
	ORDER BY `id` DESC
 	</select>
 	
 	<!-- 거래상태 update -->
 	<update id="updatePostByIdStatus" parameterType="map">
 	UPDATE `post`
 	SET `status` = #{status}
 		, `updatedAt` = NOW()
 	WHERE `id` = #{postId}
 	</update>
 	<!-- update(글수정) -->
 	<update id="updatePost" parameterType="com.honeyapple.post.domain.Post">
 	UPDATE `post`
 	SET
		`subject` = #{subject}
		,`price` = #{price}
		,`negotiable` = #{negotiable}
		,`content` = #{content}
		,`imgPath2` = #{imgPath2}
		,`imgPath3` = #{imgPath3}
		,`imgPath4` = #{imgPath4}
		,`imgPath5` = #{imgPath5}
		,`updatedAt` = NOW()
 	WHERE `id` = #{id}
 	AND `sellerId` = #{sellerId}
 	</update>
 </mapper>