<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.honeyapple.post.mapper.PostMapper">
 	<insert id="insertPost" parameterType="com.honeyapple.post.domain.Post"
 	useGeneratedKeys="true" keyProperty="id">
 	INSERT INTO `post`
 	(
		`sellerId`
		,`subject`
		,`price`
		,`negotiable`
		,`content`
		,`imgPath1`
		,`imgPath2`
		,`imgPath3`
		,`imgPath4`
		,`imgPath5`
		,`status`
		,`createdAt`
		,`updatedAt`
 	)
 	VALUES
 	(
 		#{sellerId}
 		, #{subject}
 		, #{price}
 		, #{negotiable}
 		, #{content}
 		, #{imgPath1}
 		, #{imgPath2}
 		, #{imgPath3}
 		, #{imgPath4}
 		, #{imgPath5}
 		, '판매중'
 		, NOW()
 		, NOW()
 	)
 	</insert>
 	
 	<select id="selectPostById" resultType="com.honeyapple.post.domain.Post">
 	SELECT
 		`id`
		,`sellerId`
		,`subject`
		,`price`
		,`negotiable`
		,`content`
		,`imgPath1`
		,`imgPath2`
		,`imgPath3`
		,`imgPath4`
		,`imgPath5`
		,`status`
		,`createdAt`
		,`updatedAt`
 	FROM
 		`post`
 	WHERE `id` = #{postId}
 	</select>
 	
 	<select id="selectPostListByStatusOrderByIdDescLimit6" resultType="com.honeyapple.post.domain.Post">
 	SELECT
 		`id`
		,`sellerId`
		,`subject`
		,`price`
		,`negotiable`
		,`content`
		,`imgPath1`
		,`imgPath2`
		,`imgPath3`
		,`imgPath4`
		,`imgPath5`
		,`status`
		,`createdAt`
		,`updatedAt`
	FROM
		`post`
	WHERE
		`status` = '판매중'
	ORDER BY `id` DESC
	LIMIT 6
 	</select>
 </mapper>